@model WorkDay
@{
    <div class="bg-primary m-1 p-1"><h4>Approve WorkDay</h4> </div>

    <div asp-validation-summary="All" class="text-danger"></div>

    <form asp-action="Edit" method="post">
        <input type="hidden" name="EmployeeId" value="@Model.EmployeeId" />
        <input type="hidden" name="EstimatedPay" value="@Model.EstimatedPay" />
        <input type="hidden" name="HoursWorked" value="@Model.HoursWorked" />

        <div class="form-group">
            <label for="Date">Date</label>
            <p>@Model.Date.ToString("yyyy-MM-dd")</p>
            <input asp-for="Date" type="hidden" value=@Model.Date.ToString("yyyy-MM-dd") class="form-control" />
        </div>
        <div class="form-group">
            <label for="IsVacationDay">Is this a vacation day?</label>
            <p>@Model.IsVacationDay</p>
            @if(@Model.IsVacationDay)
            {
               <input asp-for="IsVacationDay" id="IsVacationDay" value="true" type="hidden" checked />

            }
            else
            {

                 <input asp-for="IsVacationDay" id="IsVacationDay" value="false" type="hidden"/>
            }

        </div>
  
        <div class="form-control">
            <label for="SignIn">Sign in time</label>
            <p>@Model.SignIn?.ToString("hh:mm")</p>
            <input asp-for="SignIn" type="hidden" id="SignIn" value=@Model.SignIn?.ToString("HH:mm") class="form-control" />
        </div>
        <br />
        <br />
        <div class="form-control">
            <label for="SignOut">Sign out time</label>
            <p>@Model.SignOut?.ToString("hh:mm")</p>
            <input asp-for="SignOut" type="hidden" id ="SignOut" value=@Model.SignOut?.ToString("HH:mm") class="form-control" />
        </div>
        <br />
        <br />
  

        <div class="form-control">
            <label for="IsApproved">Are you approving this?</label>
            <input asp-for="IsApproved" id="IsApproved" type="checkbox" onclick="setCheckedBoxValue('IsApproved')" />
        </div>
        <br />
        <br />
        <div class="form-control">
            <label for="Reason">Reason for approving/denying</label>
            <input asp-for="Reason" type="text" class="form-control" />
        </div>
        <br />
        <br />
        <button type="submit" class="btn btn-primary">Save</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </form>
}
